<header
  id="navigation"
  class="fixed top-0 left-0 right-0 z-50 transform-3d p-2"
>
  <div class="max-w-7xl mx-auto flex justify-center">
    <nav class="inline-block items-center py-2 bg-black/20 rounded-md backdrop-blur-md translate-z-0">
      <ul class="flex flex-wrap px-5 gap-8 text-white text-sm md:text-base">
        <li>
          <a
            href="{{ '/' }}"
            class="hover:text-blue-300 hover:underline"
          >
            Home
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
