@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Hack';
  src: url('/fonts/hack-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Hack';
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
