<!doctype html>
<html lang="en" class="bg-black scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
    <meta name="viewport" content="width-device-width" />
    <meta name="description" content="{{ title }}'s personal website" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
