<footer
  id="footer"
  class="bg-black border-t-2 border-gray-900 mt-12"
>
  <div class="max-w-7xl mx-auto p-4 lg:p-6">
    <div class="flex space-x-4 items-center">
      <a
        href="mailto:{{ meta.email }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Email"
        class="focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300"
      >
        {% inlineSvg "mail.svg", "32", "32", "fill-gray-400 transition-colors duration-200 hover:fill-gray-100" %}
      </a>
      <a
        href="{{ meta.github }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
        class="focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300"
      >
        {% inlineSvg "github.svg", "32", "32", "fill-gray-400 transition-colors duration-200 hover:fill-gray-100" %}
      </a>
      <a
        href="{{ meta.linkedin }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="LinkedIn"
        class="focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300"
      >
        {% inlineSvg "linkedin.svg", "32", "32", "fill-gray-400 transition-colors duration-200 hover:fill-gray-100" %}
      </a>
    </div>
    <p class="text-white mt-4 text-sm md:text-base">
      &copy; {% currentYear %} {{ meta.name }}. Licensed under the
      <a
        href="{{ meta.license }}"
        target="_blank"
        rel="noopener noreferrer"
        class="
          decoration-dashed underline underline-offset-6
          hover:text-blue-300 hover:decoration-solid
          active:text-purple-300 active:no-underline
          focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
        "
      >
        MIT License</a>.
    </p>
  </div>
</footer>
