<section
  id="latest-posts"
  class="mt-12"
>
  <div class="max-w-7xl mx-auto px-5">
    <h3 class="text-xl md:text-2xl lg:text-3xl font-bold text-white mb-5">Latest Posts</h3>
    <div class="flex flex-col">
      <ul>
        {% for post in collections.posts | reverse | head(3) %}
          <li>
            {% if loop.index0 == 0 %}
              <hr class="border-t-1 border-gray-600 my-2">
            {% endif %}
            <div class="flex flex-col sm:flex-row justify-between items-center">
              <a
                href="{{ post.url }}"
                class="focus:outline-2 focus:outline-offset-2 focus:outline-blue-300"
              >
                <h4 class="text-base md:text-lg lg:text-xl text-white">
                  <span
                    class="
                      decoration-dashed underline
                      hover:text-blue-300 hover:decoration-solid
                      active:text-purple-300 active:no-underline
                    "
                  >
                    {{ post.data.title }}
                  </span>
                </h4>
              </a>
              <time
                class="text-xs md:text-sm lg:text-base text-gray-300 whitespace-nowrap"
                datetime="{{ post.date | htmlDate }}"
              >
                {{ post.date | naturalDate }}
              </time>
            </div>
            <hr class="border-t-1 border-gray-600 my-2">
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
