<section
  id="latest-posts"
  class="mt-12"
>
  <div class="max-w-7xl mx-auto px-5">
    <h3 class="text-xl md:text-2xl lg:text-3xl font-bold text-black dark:text-white mb-5">Latest Posts</h3>
    <div class="flex flex-col">
      <ul>
      {%- for post in collections.posts | reverse | head(3) %}
        <li>
        {%- if loop.index0 == 0 %}
          <hr class="border-t-1 border-gray-600 dark:border-gray-400 my-2">
        {%- endif %}
          <div class="flex flex-col sm:flex-row justify-between items-center">
            <h4 class="text-base md:text-lg lg:text-xl text-black dark:text-white">
              <a
                href="{{ post.url }}"
                class="
                  decoration-dashed underline underline-offset-6
                  hover:text-blue-700 dark:hover:text-blue-300 hover:decoration-solid
                  active:text-purple-700 dark:active:text-purple-300 active:no-underline
                  focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
                "
              >
                {{ post.data.title }}
              </a>
            </h4>
            <time
              class="text-xs md:text-sm lg:text-base text-gray-700 dark:text-gray-300 whitespace-nowrap"
              datetime="{{ post.date | htmlDate }}"
            >
              {{ post.date | naturalDate }}
            </time>
          </div>
          <hr class="border-t-1 border-gray-600 dark:border-gray-400 my-2">
        </li>
      {%- endfor %}
      </ul>
    </div>
  </div>
</section>
