<header
  id="navigation"
  class="relative top-0 left-0 right-0 z-50 transform-3d bg-black/20 backdrop-blur-md px-5"
>
  <div class="max-w-7xl mx-auto flex justify-center items-center h-10 md:h-12">
    <nav class="py-2 px-2 translate-z-0 overflow-x-auto scrollbar-hidden">
      <ul class="flex gap-5 whitespace-nowrap">
        {% for entry in collections.all | eleventyNavigation %}
          <li class="text-sm md:text-base text-white">
            <a
              href="{{ entry.url }}"
              class="
                decoration-dashed underline underline-offset-6
                hover:text-blue-300 hover:decoration-solid
                active:text-purple-300 active:no-underline
                focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
              "
            >
              {{ entry.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
