---
permalink: 404.html
title: 404 Not Found
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en" class="bg-black text-white text-center">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <h1 class="my-5 text-4xl">Page not found.</h1>
    <p>
      <a
        href="{{ '/' }}"
        class = "hover:text-blue-300 hover:underline"
      >Click here</a>
      to return home.
    </p>
  </body>
</html>
