---
permalink: 404.html
title: 404 Not Found
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en" class="bg-black text-white text-center">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="404 page." />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <h1 class="my-5 text-2xl md:text-3xl lg:text-4xl">Page not found.</h1>
    <p class="text-base md:text-lg lg:text-xl">
      <a
        href="{{ '/' }}"
        class="
          decoration-dashed underline underline-offset-6
          hover:text-blue-300 hover:decoration-solid
          active:text-purple-300 active:no-underline
          focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
        "
      >
        Return to homepage
      </a>
    </p>
  </body>
</html>
