---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ meta.rss.language or page.lang }}">
  <title>{{ meta.name }}</title>
  <subtitle>{{ meta.rss.subtitle }}</subtitle>
  <link href="{{ permalink | htmlBaseUrl(meta.url) }}" rel="self" />
  <link href="{{ meta.url | addPathPrefixToFullUrl }}" />
  <updated>{{ collections.posts | getMostRecentDate | dateToRfc3339 }}</updated>
  <id>{{ meta.url | addPathPrefixToFullUrl }}</id>
  <author>
    <name>{{ meta.name }}</name>
  </author>
  {%- for post in collections.posts | reverse | head(10) %}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(meta.url) }}{% endset %}
    {%- if post.data.lastmod %}
      {%- set lastupdated = post.data.lastmod | timezoneDate %}
    {%- else %}
      {%- set lastupdated = post.date | timezoneDate %}
    {%- endif %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}" />
      <updated>{{ lastupdated | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html">{{ post.content | renderTransforms(post.data.page, meta.url) }}</content>
    </entry>
  {%- endfor %}
</feed>
