---
layout: layouts/base.njk
eleventyComputed:
  title: "{{ meta.name }}"
  description: "Hello, I'm {{ meta.name }}. My interests include tech and digital privacy, which I write about on occasion."
eleventyNavigation:
  key: Home
  order: 1
---

<div class = "flex flex-col h-dvh justify-between">
  {% include "components/navigation.njk" %}
  <div class="mb-auto">
    <div class="-mt-10 md:-mt-12">
      {% include "components/hero.njk" %}
    </div>
    {% include "components/latest-posts.njk" %}
    {% include "components/about.njk" %}
    {% include "components/projects.njk" %}
  </div>
  {% include "components/footer.njk" %}
</div>
