---
layout: layouts/base.njk
title: James Yu
---

{% include "components/navigation.njk" %}
{% include "components/intro.njk" %}
{% include "components/about.njk" %}
{% include "components/projects.njk" %}
{% include "components/footer.njk" %}
