---
layout: layouts/base.njk
title: Tags
description: A list of all blog tags.
fontPreload: true
---
<div class="flex flex-col h-dvh justify-between">
  {% include "components/navigation.njk" %}
  <div class="max-w-7xl mx-auto mb-auto w-full px-5 mt-8">
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-black dark:text-white mb-5">{{ title }}</h1>
    <ul class="flex flex-wrap gap-x-5 gap-y-2">
    {%- for tag in collections.getTags %}
    {%- if tag != 'posts' %}
      <li class="text-base md:text-lg text-black dark:text-white">
        <a
          href="/tags/{{ tag | slugify }}/"
          class="
            decoration-dashed underline underline-offset-6
            hover:text-blue-700 dark:hover:text-blue-300 hover:decoration-solid
            active:text-purple-700 dark:active:text-purple-300 active:no-underline
            focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
          "
        >
          #{{ tag }}
        </a>
      </li>
    {%- endif %}
    {%- endfor %}
    </ul>
  </div>
  {% include "components/footer.njk" %}
</div>
