---
layout: layouts/base.njk
fontPreload: true
---

<div class="flex flex-col h-dvh justify-between">
  {% include "components/navigation.njk" %}
  <div class="max-w-3xl mx-auto mb-auto w-full px-5 mt-8">
    <h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-white mb-5">{{ title }}</h1>
    <p>
      <span class="text-base md:text-lg text-gray-300">Date Published:</span>
      <time
        class="text-base md:text-lg text-white"
        datetime="{{ page.date | htmlDate }}"
      >
        {{ page.date | naturalDate }}
      </time>
    </p>
    {% if lastmod %}
      <p>
        <span class="text-base md:text-lg text-gray-300">Last Modified:</span>
        <time
          class="text-base md:text-lg text-white"
          datetime="{{ lastmod | htmlDate }}"
        >
          {{ lastmod | naturalDate }}
        </time>
      </p>
    {% endif %}
    <div
      class="
        max-w-3xl mx-auto prose dark:prose-invert prose-sm md:prose-base
        prose-a:decoration-dashed prose-a:underline prose-a:underline-offset-6
        prose-a:hover:text-blue-300 prose-a:hover:decoration-solid
        prose-a:active:text-purple-300 prose-a:active:no-underline
        prose-a:focus-visible:outline-2 prose-a:focus-visible:outline-offset-0 prose-a:focus-visible:outline-blue-300
      "
    >
      <p>{{ content | safe }}</p>
    </div>
    <ul class="flex flex-wrap gap-x-5 gap-y-2">
      {% for tag in tags %}
        {% if tag != 'posts' %}
          <li class="text-base md:text-lg text-white">
            <a
              href="/tags/{{ tag | slugify }}/"
              class="
                decoration-dashed underline underline-offset-6
                hover:text-blue-300 hover:decoration-solid
                active:text-purple-300 active:no-underline
                focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
              "
            >
              #{{ tag }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p class="text-white mt-8 text-sm md:text-base">
      &copy; This work is licensed under
        <a
          href="https://creativecommons.org/licenses/by/4.0/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Post license"
          class="
            decoration-dashed underline underline-offset-6
            hover:text-blue-300 hover:decoration-solid
            active:text-purple-300 active:no-underline
            focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-blue-300
          "
        >
          CC BY 4.0</a>.
    </p>
  </div>
  {% include "components/footer.njk" %}
</div>
